@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.glowing-gold {
    -webkit-animation: gold-glow 1s ease-in-out infinite alternate;
    -moz-animation: gold-glow 1s ease-in-out infinite alternate;
    animation: gold-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes gold-glow {
    from {
        text-shadow: 0 0 5px #ffdd1b, 0 0 20px #ffdd1b, 0 0 30px #ffdd1b,
            0 0 50px #ffdd1b, 0 0 90px #ffdd1b;
    }
    to {
        text-shadow: 0 0 15px #ffdd1b, 0 0 10px #ffdd1b, 0 0 25px #ffdd1b,
            0 0 35px #ffdd1b, 0 0 55px #ffdd1b 0 0 95px #ffdd1b;
    }
}
